.img-body {
  width: 400px;
  aspect-ratio: 1/1;
  outline-color: #24203a;
  display: inline-block;
}

.containerImgSlider {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerSlider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
}

.imgCard {
  width: 100%;
  height: 55vh;
}
.thumb-wrapper {
  display: flex;

  width: 400px;
  margin-top: 30px;
}

.thumb-wrapper > div {
  width: 100px;
  // max-height: 200px;
  aspect-ratio: 1/1;
  overflow: hidden;
  transition: all 0.1s;
}
.thumb-wrapper > div:hover,
.thumb-wrapper > div.active {
  border: 3px solid #24203a;
  max-height: calc(200px - 6px);
}
.thumb-wrapper > div img {
  display: flex;

  object-fit: cover;
}
.productSlider {
  width: 100%;
  margin: 0 auto;

  .slick-slide {
    padding: 0px 75px;
  }

  .slick-next {
    right: 25px;
  }
  .slick-prev {
    left: 25px;
  }
}
@media (max-width: 1700px) {
  .containerSlider {
    width: 90%;
  }
}
@media (max-width: 1200px) {
  .imgCard {
    width: 100%;
    height: 50vh;
  }
}
@media (max-width: 1200px) {
  .imgCard {
    width: 100%;
    height: 40vh;
  }
}
@media (max-width: 900px) {
  .thumb-wrapper {
    margin-top: 10px;
    width: 350px;
  }
  .thumb-wrapper > div {
    width: 75px;
  }
  .thumb-wrapper > div img {
    width: 75px;
    height: 75px;
  }
}
@media (max-width: 650px) {
  .thumb-wrapper {
    width: 300px;
  }
  .thumb-wrapper > div {
    width: 55px;
    height: 55px;
  }
  .thumb-wrapper > div img {
    width: 55px;
    height: 55px;
  }
  .imgCard {
    width: 100%;
    height: 35vh;
  }
  .containerSlider {
    margin-top: 20px;
  }
}
@media (max-width: 450px) {
  .img-body {
    width: 250px;
  }
  .imgCard {
    width: 100%;
    height: 30vh;
  }
}
@media (max-width: 450px) {
  .thumb-wrapper {
    width: 200px;
  }
  .thumb-wrapper > div {
    width: 45px;
    height: 45px;
  }
  .thumb-wrapper > div img {
    width: 45px;
    height: 45px;
  }
  .imgCard {
    width: 100%;
    height: 30vh;
  }
}
