.img-body {
  width: 400px;
  aspect-ratio: 1/1;
  outline-color: #24203a;
  display: inline-block;
}

.containerImgSlider {
  
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerSlider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
}

.imgCard {
  width: 800px;
  height:55vh;
}
.thumb-wrapper {
  display: flex;

  width: 400px;
  margin-top: 30px;
}

.thumb-wrapper > div {
  width: 100px;
  // max-height: 200px;
  aspect-ratio: 1/1;
  overflow: hidden;
  transition: all 0.1s;
}
.thumb-wrapper > div:hover,
.thumb-wrapper > div.active {
  border: 3px solid #24203a;
  max-height: calc(200px - 6px);
}
.thumb-wrapper > div img {
  display: flex;

  // object-position: center 0;
  object-fit: cover;
}
.productSlider {
  width: 100%;
  margin: 0 auto;

  .slick-slide {
    padding: 0px 75px;
  }

  .slick-next {
    right: 25px;
  }
  .slick-prev {
    left: 25px;
  }
}
