.img-body {
  width: 400px;
  aspect-ratio: 1/1;
  outline-color: #24203a;
  display: inline-block;
}

.containerImgSlider {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerSlider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  width: 90%;
}

.imgCard {
  width: 100%;
  height: 55vh;
}
.thumb-wrapper {
  display: flex;

  width: auto;
  margin-top: 30px;
}

.thumb-wrapper > div {
  width: 100px;
  box-sizing: border-box;
  // max-height: 200px;
  aspect-ratio: 1/1;
  overflow: hidden;
  transition: all 0.1s;
}
.thumb-wrapper > div:hover,
.thumb-wrapper > div.active {
  border: 1px solid #24203a;
}
.thumb-wrapper > div img {
  display: flex;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.productSlider {
  width: 100%;
  margin: 0 auto;

  .slick-slide {
    padding: 0px 75px;
  }

  .slick-next {
    right: 25px;
  }
  .slick-prev {
    left: 25px;
  }
}
@media (max-width: 1700px) {
  .containerSlider {
    width: 90%;
  }
}
@media (max-width: 1200px) {
  .imgCard {
    width: 100%;
    height: 50vh;
  }
  .thumb-wrapper > div img {
    width: 75px;
    height: 75px;
  }
  .thumb-wrapper > div {
    width: 75px;
  }
}
@media (max-width: 1200px) {
  .imgCard {
    width: 100%;
    height: 40vh;
  }
}
@media (max-width: 900px) {
  .containerSlider {

  }
  .thumb-wrapper {
    margin-top: 10px;
    width: auto;
  }
  .thumb-wrapper > div {
    width: 55px;
  }
  .thumb-wrapper > div img {
    width: 55px;
    height: 55px;
  }
}
@media (max-width: 650px) {
  .thumb-wrapper {
    width: auto;
  }
  .containerSlider {
    height: auto;
    width: 70%;
  }
 
  .imgCard {
    width: 100%;
    height: auto;
  }
  .thumb-wrapper > div {
    width: 55px;
    height: 55px;
  }
  .thumb-wrapper > div img {
    width: 55px;
    height: 55px;
  }
  .imgCard {
    width: 100%;
    height: 35vh;
  }
  .containerSlider {
    height: auto;
    margin-top: 20px;
  }
  .containerImgSlider {
    height: auto;
  }
  .imgContainer {
    height: auto;
  }
  .containerProduct {
    height: auto;
  }
}
@media (max-width: 450px) {
  .thumb-wrapper {
    width: auto;
  }
  .imgCard {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 450px) {
  .thumb-wrapper {
    width: auto;
  }
  .thumb-wrapper > div {
    width: 50px;
    height: 50px;
  }
  .thumb-wrapper > div img {
    width: 50px;
    height: 50px;
  }
  .containerImgSlider {
    height: auto;
  }
  .containerSlider {
    height: auto;
  }
  .imgCard {
    width: 100%;
    height: auto;
  }
  .slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto !important; /* Важно для корректного пересчета высоты */
  }
}
