.img-body {
  width: 400px;
  aspect-ratio: 1/1;
  outline-color: #24203a;
  display: inline-block;
}

.containerImgSlider {
  margin-top: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.containerSlider {
  width: 700px;
  border-radius: 30px;
  display: flex;
  // min-height: 0px;
  flex-direction: column;
  justify-content: center;

  overflow: hidden;
  // width: 90%;
}
.slick-slider {
  border-radius: 30px;
  overflow: hidden;
}
.imgCard {
  border-radius: 25px;
  width: 700px;
  height: 600px;
}
.thumb-wrapper {
  display: flex;
  justify-content: space-around;
  width: 450px;
  margin-top: 10px;
}

.thumb-wrapper > div {
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  display: inline;
  width: 75px;
  box-sizing: border-box;
  // max-height: 200px;
  aspect-ratio: 1/1;
  overflow: hidden;
  transition: all 0.1s;
}
.thumb-wrapper > div:hover,
.thumb-wrapper > div.active {
  display: inline-block;
  background-color: #a7a7a7;
}
.active > img {
  background-color: rgba(#a7a7a7, 0.5);
}
.thumb-wrapper > div img {
  display: flex;
  width: 75px;
  height: 75px;

  mix-blend-mode: multiply;

  // marg
  // z-index: 2;
  // object-fit: cover;
}

.productSlider {
  width: 100%;
  margin: 0 auto;

  .slick-slide {
    padding: 0px 75px;
  }

  .slick-next {
    right: 25px;
  }
  .slick-prev {
    left: 25px;
  }
}
@media (max-width: 1700px) {
  .containerSlider {
    width: 575px;
  }
  .imgCard {
    height: 575px;
    height: 475px;
  }
}
@media (max-width: 1400px) {
  .containerSlider {
    width: 500px;
  }
  .imgCard {
    height: 500px;
    height: 400px;
  }
}

@media (max-width: 1200px) {
  .containerSlider {
    border-radius: 30px;
    display: flex;
    // min-height: 0px;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 450px;
  }
  .imgCard {
    height: 400px;
    width: 500px;
  }

  .thumb-wrapper {
    display: flex;
    justify-content: space-around;
    width: 400px;
    // margin-top: 0px;
  }
  .imgCard {
    // width: 100%;
    // height: 50vh;
  }
  .thumb-wrapper > div img {
    width: 75px;
    height: 75px;
  }
  .thumb-wrapper > div {
    width: 75px;
  }
}
@media (max-width: 1000px) {
  .imgCard {
    height: 400px;
  }
}
@media (max-width: 1100px) {
  .imgCard {
    height: 375px;
    width: 400px;
  }
  .containerSlider {
    width: 400px;
  }
}
@media (max-width: 900px) {
  .thumb-wrapper {
    margin-top: 10px;
    width: auto;
  }
  .imgCard {
    height: 375px;
  }
  // .thumb-wrapper > div {
  //   width: 55px;
  // }
  .thumb-wrapper > div img {
    width: 55px;
    height: 55px;
  }
  .thumb-wrapper {
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 55px;
  }
}
@media (max-width: 850px) {
  .containerImgSlider {
    margin-top: 0px;
  }
  .thumb-wrapper {
    width: auto;
  }
  .containerSlider {
    // height: auto;
    // width: 65%;
  }
  .thumb-wrapper {
    display: flex;
    justify-content: space-around;
    width: 370px;
    // height:500px;
  }

  .thumb-wrapper > div {
    width: 65px;
    height: 65px;
  }
  .thumb-wrapper > div img {
    width: 65px;
    height: 65px;
  }
  .imgCard {
    height: 370px;
    // height: auto;
  }
  .containerSlider {
    height: auto;
    margin-top: 20px;
  }
  .containerSlider {
    position: relative;
  }
  .containerImgSlider {
    height: auto;
  }
  .imgContainer {
    height: auto;
  }
  .containerProduct {
    height: auto;
  }
}
@media (max-width: 450px) {
  .imgCard {
    width: 100%;
    // height: auto;
  }
}
@media (max-width: 450px) {
  .thumb-wrapper {
    width: 300px;
  }
  .thumb-wrapper > div {
    width: 50px;
    height: 50px;
  }
  .thumb-wrapper > div img {
    width: 50px;
    height: 50px;
  }
  // .containerImgSlider {
  //   height: auto;
  // }
  .containerSlider {
    // height: auto;
    width: 90%;
  }
  .imgCard {
    width: 100%;
    // height: auto;
  }
  .slick-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    // height: auto !important; /* Важно для корректного пересчета высоты */
  }
}
