.img-body {
  width: 400px;
  aspect-ratio: 1/1;
  outline-color: red;
  display: inline-block;
}

.container {
  margin: 0 auto;
  width: 50%;

  border-color: white;
}

.thumb-wrapper {
  display: flex;
  width:400px;
  margin-top: 30px;
}
.containerSlider {
  width: 50vw;
}
.thumb-wrapper > div {


  width: 100px;
  // max-height: 200px;
  aspect-ratio: 1/1;
  overflow: hidden;
  transition: all 0.1s;
}
.thumb-wrapper > div:hover,
.thumb-wrapper > div.active {
  border: 3px solid rgba(216, 35, 35, 0.732);
  max-height: calc(200px - 6px);
}
.thumb-wrapper > div img {
  width: 100%;
  height: 100%;
  // object-position: center 0;
  object-fit: cover;
}
