.inputContainerForm {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.4);
}
.form {
  height: 70%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input {
  width: 350px;
  border-radius: 5px;
  border: none;
  height: 45px;

  -webkit-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.4);
}
.error {
  height: 30px;
}
.radioInput {
  margin-bottom: 40px;
}
.adressContainer {
  height: 80px;
  width: 350px;
  overflow: hidden;
  display: block;
  flex-direction: column;
}
.liAdress {
  white-space: nowrap;
  height: 20px;
  width: 100%;
  background: white;
  display: inline-block;
  height: 20px;
  height: auto;
  font-size: 15px;
  cursor: pointer;
}
