.cardContainer {
  width: 262px;
  height: 350px;
  // border: solid #a7a7a7 3px;
  display: flex;
  color: black;
  text-align: left;
  flex-direction: column;
  flex-flow: row wrap;
  text-decoration: none;
  // color: inherit;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.4);
  align-content: space-around;
  flex-wrap: wrap;
  transition: background-color 1s ease;
}
.cardContainer:hover {
  // border: solid #a7a7a7 3px;
  opacity: 0.8;
  background-color: rgba(#a7a7a7, 0.5);
}

.cardImg {
  overflow: hidden;
}

.containerImg {
  display: flex;
  display: inline-flex;
  align-items: flex-end;
  height: 240px;
  width: 262px;
  // border-top: 25px;
  overflow: hidden;
  flex-wrap: wrap;
}
.containerText {
  overflow: hidden;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-items: start;

  text-align: start;
  height: 110px;
  padding-left: 10px;
}
.h1Font {
  font-family: var(--robo-bold);
}
.title {
  display: flex;

  overflow: hidden;
  font-size: 15px;
  margin-top: 5px;
  height: 37px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}
.pDescriptionConatiner {
  // justify-content: space-between;
  font-family: var(--font-montserrat);
  font-size: 12px;
  display: flex;
  align-items: center;
}
.pDescription {
  display: flex;

  align-content: center;
  height: auto;
  height: min-content;
  font-size: 13px;
  margin-left: 5px;
}
.pDescriptionWeight {
  display: flex;

  height: auto;

  font-weight: 600;
}
.price {
  font-family: var(--font-semi-bold);
  display: flex;
  color: rgb(216, 42, 42);
  margin-top: 2px;
  font-weight: 500;
  align-items: center;
  font-size: 18px;
}
@media (max-width: 1150px) {
  .pDescription {
    font-family: var(--font-rubik);
    font-size: 11px;
  }
  .cardContainer {
    width: 252px;
    height: 312px;
    background: rgba(#a7a7a7, 0.1);
  }
  .pDescription {
    height: 100%;
    display: flex;
    align-items: end;
  }
  .containerImg {
    display: flex;
    display: inline-flex;
    align-items: flex-end;
    height: 230px;
    width: 254px;
  }
  .containerText {
    height: 90px;
  }
  .title {
    white-space: nowrap;
    height: 20px;
    font-size: 15px;
    height: auto;
  }
  .price {
    font-size: 15px;
  }
}
@media (max-width: 650px) {
  .pDescriptionConatiner {
    height: min-content;
    display: flex;
    align-items: flex-end;

    font-family: var(--font-rubik);
    font-size: 10px;
    margin-top: 2px;
  }
  .cardContainer {
    width: 172px;
    height: 250px;
  }
  .containerImg {
    object-fit: cover;
    height: 179px;
    width: 182px;
    object-fit: cover;
    justify-content: center; 
    align-items: center;
  }
  .containerImg img {
    height: 100%; 
    width: auto;
    object-fit: cover; 
}
  .containerText {
    padding-left: 8px;
    height: 84px;
  }
  .title {
    width: 95%;
    overflow: hidden;
    height: auto;
    font-size: 14px;
  }
  .price {
    font-size: 13px;
  }
}
