.cardContainer {
  width: 262px;
  height: 346px;
  border: solid #24203a 1.5px;
  display: flex;
  color: black;
  text-align: left;
  flex-direction: column;
  flex-flow: row wrap;
  text-decoration: none;
  // color: inherit;
  overflow: hidden;
  border-radius: 10px;
  align-content: space-around;
  flex-wrap: wrap;
  transition: background-color 1s ease;
}
.cardContainer:hover {
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.4);
}

.cardImg {
  overflow: hidden;
}



.containerImg {
  display: flex;
  display: inline-flex;
  align-items: flex-end;
  height: 270px;
  width: 262px;

  overflow: hidden;
  flex-wrap: wrap;
}
.containerText {
  overflow: hidden;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-items: start;

  text-align: start;
  height: 86px;
  padding-left: 3px;
}
.title {
  display: flex;
  font-family: var(--font-semi-bold);
  overflow: hidden;
  font-size: 14px;
}
.price {
  font-family: var(--font-semi-bold);
  display: flex;
  margin-top: -2px;
  margin-bottom: 3px;
  font-size: 18px;
}
@media (max-width: 1150px) {
  .cardContainer {
    width: 252px;
    height: 306px;
  }
  .containerImg {
    display: flex;
    display: inline-flex;
    align-items: flex-end;
    height: 240px;
    width: 252px;
  }
  .containerText {
    height: 66px;
  }
  .title {
    font-size: 15px;
  }
  .price {
    font-size: 15px;
  }
}
@media (max-width: 650px) {
  .cardContainer {
    width: 162px;
    height: 236px;
  }
  .containerImg {
    display: flex;
    display: inline-flex;
    align-items: flex-end;
    height: 179px;
    width: 182x;
  }
  .containerText {
    height: 60px;
  }
  .title {
    font-size: 13px;
  }
  .price {
    font-size: 13px;
  }
}
