.cardContainer {
  width: 262px;
  height: 350px;
  // border: solid #a7a7a7 3px;
  display: flex;
  color: black;
  text-align: left;
  flex-direction: column;
  flex-flow: row wrap;
  text-decoration: none;
  // color: inherit;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.4);
  align-content: space-around;
  flex-wrap: wrap;
  transition: background-color 1s ease;
}
.cardContainer:hover {
  // border: solid #a7a7a7 3px;
  opacity: 0.8;
  background-color: rgba(#a7a7a7, 0.5);
}

.cardImg {
  overflow: hidden;
}

.containerImg {
  display: flex;
  display: inline-flex;
  align-items: flex-end;
  height: 260px;
  width: 262px;
  // border-top: 25px;
  overflow: hidden;
  flex-wrap: wrap;
}
.containerText {
  overflow: hidden;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-items: start;

  text-align: start;
  height: 90px;
  padding-left: 10px;
}
.title {
  display: flex;
  font-family: var(--font-semi-bold);
  overflow: hidden;
  font-size: 14px;
  margin-top: 5px;
  height: 45px;
}
.price {
  font-family: var(--font-semi-bold);
  display: flex;
  margin-top: -2px;
  margin-bottom: 7px;
  font-size: 18px;
}
@media (max-width: 1150px) {
  .cardContainer {
    width: 252px;
    height: 310px;
  }
  .containerImg {
    display: flex;
    display: inline-flex;
    align-items: flex-end;
    height: 240px;
    width: 252px;
  }
  .containerText {
    height: 70px;
  }
  .title {
    white-space: nowrap; 
    height: 20px;
    font-size: 14px;
  }
  .price {
    font-size: 15px;
  }
}
@media (max-width: 650px) {
  .cardContainer {
    width: 162px;
    height: 240px;
  }
  .containerImg {
    display: flex;
    display: inline-flex;
    align-items: flex-end;
    height: 179px;
    width: 182x;
  }
  .containerText {
    padding-left: 8px;
    height: 64px;
  }
  .title {
    width: 95%;
     overflow: hidden;
  height: 20px;
    font-size: 10px;
  }
  .price {
    font-size: 13px;
  }
}
