.button {
  width: 159px;
  height: 40px;
  background: #202020;
  border: none;
  border-radius: 5px;
  color: white;
  transition-duration: 2s;
  transition-property: margin-right, color;
  font-size: 26px;
  font-family: var(--font-rubik);
}
.button:hover {
  background: #929191;
  color: #202020;
}
@media (max-width: 850px) {
  .button {
    margin-top: 10px;
    height: 40px;
    width: 300px;
    margin-bottom: 30px;
  }
}
