.button {
  cursor: pointer;
  width: 159px;
  height: 40px;
  background: linear-gradient(to top, #bdbec0 0%, #858486 72%, #787481 100%);
  border: none;
  border-radius: 5px;
  color: rgb(235, 237, 243);
  transition-duration: 2s;
  transition-property: margin-right, color;
  font-size: 26px;
  font-family: var(--font-rubik);
}
.button:hover {
  background: linear-gradient(to bottom, #bdbec0 0%, #858486 72%, #787481 100%);
  color: #202020;
}
@media (max-width: 850px) {
  .button {
    margin-top: 10px;
    height: 50px;
    width: 300px;
    margin-bottom: 30px;
  }
}
