.button {
  cursor: pointer;
  width: 159px;
  height: 40px;
  background: linear-gradient(
    177.9deg,
    rgb(74, 74, 74) 3.6%,
    
    rgb(198, 207, 229) 105.8%
  );
  border: none;
  border-radius: 5px;
  color: rgb(235, 237, 243);
  transition-duration: 2s;
  transition-property: margin-right, color;
  font-size: 26px;
  font-family: var(--font-rubik);
}
.button:hover {
  background: linear-gradient(
    177.9deg,
    rgb(198, 207, 229) 3.6%,
    rgb(74, 74, 74) 105.8%,
    
    
  );
  color: #202020;
}
@media (max-width: 850px) {
  .button {
    margin-top: 10px;
    height: 50px;
    width: 300px;
    margin-bottom: 30px;
  }
}
