.imgDeliver {
  height: 35px;
  width: 35px;
}
.deliverTitle {
  
  font-size: 17px;
  margin-top: 12px;
  display: flex;
  font-family: var(--font-semi-bold);
}
.deliverText{
  margin-left: 5px;
}
.lineDeliver {
  width: 400px;
  height: 1.5px;
  background: #a7a7a7;
}
.ulTextDeliver {
  margin-top: 6px;
}
@media (max-width: 1000px) {
  .imgDeliver {
    height: 35px;
    width: 35px;
  }
  .deliverTitle {
    font-size: 13px;
  }
  .lineDeliver {
    width: 300px;
  }
}
@media (max-width: 900px) {
  .lineDeliver {
    width: 250px;
  }
  .deliverTitle {
    font-size: 11px;
  }
}
@media (max-width: 650px) {
  .lineDeliver {
    width: 100%;
  }
}
