.imgDeliver {
  height: 40px;
  width: 40px;
}
.deliverTitle {
  height: auto;
  font-size: 20px;
  margin-top: 20px;
  // text-align: center;
  display: flex;
  align-items: start;
  font-family: var(--font-semi-bold);
}
.deliverText {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
font-size: 25px;
  margin-left: 5px;
}
.lineDeliver {
  width: 400px;
  height: 2px;
  background: #a7a7a7;
}
.ulTextDeliver {
  margin-top: 6px;
}
@media (max-width: 1000px) {
  .imgDeliver {
    height: 40px;
    width: 40px;
  }
  .deliverTitle {
    font-size: 20px;
  }
  .lineDeliver {
    width: 300px;
  }
}
@media (max-width: 900px) {
  .lineDeliver {
    width: 250px;
  }
  .deliverTitle {
    font-size: 17px;
  }
}
@media (max-width: 850px) {
  .lineDeliver {
    width: 90%;
  }
}
