.containerProduct {
  display: flex;
  align-items: center;
  height: 90vh;
  width: 85vw;
  justify-content: center;
}
.imgContainer {
  width: 45vw;
  height: auto;
}
.informationContainer {
  height: auto;
  width: 40vw;
}
.conainerForProduct{
  height: auto;
  display: flex;
}
@media (max-width: 1200px) {
  .informationContainer {
    width: 45vw;
  }
  .containerProduct {
    width: 95vw;
  }
}
@media (max-width: 1000px) {
  .containerProduct {
    width: 100vw;
  }
  .informationContainer {
    width: 50vw;
  }
  .containerProduct {

    height: 90vh;}
}
@media (max-width: 900px) {
  .imgContainer {
    width: 55vw;
  }
  .informationContainer {
    width: 45vw;
  }
}
@media (max-width: 650px) {
  .containerProduct {
    display: flex;
    flex-direction: column;
  }
  .imgContainer {
    width: 100vw;
  }
 
  .informationContainer {
   margin-top: 15px;
    width: 85vw;
  }
}
