.containerProduct {
  display: flex;
  align-items: center;
  height: 100%;
  width: 85vw;
}
.imgContainer {
  width: 50vw;
}
.informationContainer {
  width: 35vw;
}
@media (max-width: 1200px) {
  .informationContainer {
    width: 45vw;
  }
  .containerProduct {
    width: 95vw;
  }
}
@media (max-width: 1000px) {
  .containerProduct {
    width: 100vw;
  }
  .informationContainer {
    width: 50vw;
  }
}
@media (max-width: 900px) {
  .imgContainer {
    width: 55vw;
  }
  .informationContainer {
    width: 45vw;
  }
}
@media (max-width: 650px) {
  .containerProduct {
    display: flex;
    flex-direction: column;
  }
  .imgContainer {
    width: 90vw;
  }
  .informationContainer {
   margin-top: 15px;
    width: 85vw;
  }
}
