.categoryContainerCard {
  height: auto; /* Динамическая высота в зависимости от содержимого */
  width: 90%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;

  grid-auto-rows: min-content;
  gap: 16px;
  margin-top: 20px;
}
.card {
  flex: 1 1 calc(20% - 16px); /* Пример для 5 карточек по горизонтали с учетом gap */

  /* Дополнительные стили для карточек */
}
.categoryContainerCardMain {
  display: flex;
  
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.titlePageCategory{
 margin-top: 30px;
  width: 90%;
  text-align: start;
  font-family: var(--font-semi-bold);
}
@media (max-width: 1300px) {
  
  .titlePageCategory {
    margin-top: 20px;
  }
  
}