.footerContainer {
  height: 12vh;
  background: linear-gradient(to bottom, #bdbec0 0%, #858486 72%, #787481 100%);
  width: 100%;
  margin-top: 70px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgTg {
    /* margin-right: 50px; */
    /* margin-left: 50px; */

    width: 50px;
    height: 50px;
}

@media (max-width:1000px) {
  .imgTg {
  
    width: 45px;
    height: 45px;
  }
}