.inputContainerOrder {
  height: 100%;
  width: 45%;
}
.cardContainerOrder {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 55%;
}
.orderContainer {
  display: flex;
  height: 100%;
  width: 100%;
}
