.bodyDescritpion {
  margin-top: 15px;
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
}
.textDesc {
  object-fit: cover;
  overflow: hidden;
  box-sizing: border-box;
  font-weight: 900;

  display: flex;
  align-items: center;
  justify-content: space-between;

  display: inline-block;
  font-size: 26px;
  font-family: var(--font-semi-bold);
}
.desc {
  line-height: 1.4;
  padding-left: 10px;
  display: inline-block;
  font-family: var(--font-rubik);
  /* border-bottom: 2px solid black; */
  width: auto;
  font-size: 16px;
  width: 90%;
}
.linedesc {
  margin-top: 5px;
  width: 90%;
  height: 1.5px;
  background: #a7a7a7;
}

@media (max-width: 950px) {
  .desc {
    font-size: 14px;
  }
  .linedesc {
    width: 90%;
  }
}
@media (max-width: 850px) {
  .desc {
    font-size: 12px;
  }
}
@media (max-width: 750px) {
  .desc {
    font-size: 16px;
  }
}
