.containerCard {
  height: auto;
  width: 80%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;

  grid-auto-rows: min-content;
  margin-top: 30px;
  grid-gap: 15px;
}
.containerMain {
  display: flex;
  width: 100%;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titlePage {
  width: 90%;
  text-align: start;
  font-family: var(--font-semi-bold);
  margin-top: 30px;
}
@media (max-width: 1600px) {
  .containerCard {
    width: 90%;
  }
}
@media (max-width: 1400px) {
  .containerCard {
    height: auto; /* Динамическая высота в зависимости от содержимого */
    width: 80%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }
}
@media (max-width: 1300px) {
  .containerCard {
    width: auto;
  }
}
@media (max-width: 1150px) {
}

@media (max-width: 900px) {
  .containerCard {
    width: auto;
    grid-template-columns: 50% 50%;
  }
}
@media (max-width: 650px) {
  .containerCard {
    grid-template-columns: 30% 30% 30%;
    width: auto;
  }
}
@media (max-width: 550px) {
  .containerCard {
    grid-template-columns: 50% 50%;
    width: auto;
  }
}
