.textContainer {
  display: flex;
  height: 65vh;
  flex-direction: column;
  justify-content: start;
}
.nameCard {
  // font-weight: bold;s
  font-size: 36px;

  //  font-family: "SemiBold";
  font-family: var(--font-semi-bold);
}
.textCard {
  margin-top: 13px;
  font-weight: 500;
  font-family: var(--font-montserrat);
  font-size: 17.5px;
}
.priceCard {
  display: flex;
  align-content: start;
  flex-wrap: wrap;
  margin-top: 13px;
}
.line {
  margin-top: 10px;
  width: 400px;
  height: 2px;
  background: #00a367;
}
.buttonContainer {
  margin-top: 15px;
  display: flex;
  width: 60%;
  justify-content: space-between;
}
