.textContainer {
  display: flex;
  
 
  flex-direction: column;
  justify-content: start;
  
  

}
.nameCard {

  height: auto;
 
}
.textCard {
 
  
}
.priceCard {
 
 
  display: flex;
  align-content: start;
  flex-wrap: wrap;
}
