.cardBinBody {
  width: 95%;

  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.conatinerCardBin {
  position: relative;
  -webkit-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  background: rgba(167, 167, 167, 0.2);
  margin-top: 20px;
  height: 160px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.lineCardBin {
  margin-top: 7px;
  width: 90%;
  height: 1.5px;
  background: rgba(167, 167, 167);
}
.imgCardBin {
  border-radius: 5px;
  height: auto;
}
.cardBinTitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-family: var(--font-rubik);
  overflow: hidden;
  text-overflow: ellipsis;
  width: 92%;
  font-size: 20px;
  margin-top: 5px;

  height: min-content;
}
.containerBinImg {
  position: relative;
  margin-top: 10px;
  display: flex;
  align-items: center;
  height: 100%;
}
.cardBinTextContainer {
  height: min-content;
  color: black;
  margin-left: 12px;
  width: 100%;
  font-family: var(--font-montserrat);
  text-decoration: none;
}
.cutCardBinContainer {
  height: 90%;
}

.cardBinDescription {
  margin-top: 3px;
  width: 80%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  height: min-content;
  font-size: 15px;
}
.cutCardBin {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  height: 40px;
  width: 40px;
}
.containerButtonBin {
  width: 90%;
  display: flex;
  justify-content: end;
}
.cardBinPrice {
  color: #00a942;
  font-family: var(--font-rubik);
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 10px;
  font-size: 25px;
}
.closeImg {
  height: 40px;
  width: 40px;
}
@media (max-width: 1400px) {
  .cardBinTitle {
    font-size: 18px;
  }
  .cardBinDescription {
    font-size: 16px;
  }
}
@media (max-width: 1200px) {
  .cardBinTitle {
    font-size: 16px;
  }
  .cardBinDescription {
    font-size: 14px;
  }
}
@media (max-width: 1000px) {
  .closeImg {
    height: 30px;
    width: 30px;
  }
  .cardBinTitle {
    font-size: 13px;
  }
  .cardBinDescription {
    font-size: 11px;
  }
}
@media (max-width: 8500px) {
  .cardBinTitle {
    font-size: 20px;
  }
  .cardBinDescription {
    font-size: 14px;
  }
  .imgCardBin {
    height: 100px;
  }
}
@media (max-width: 650px) {
  .closeImg {
    height: 30px;
    width: 30px;
  }
  .cutCardBin {
    height: 30px;
    width: 30px;
  }
  .cardBinTitle {
    margin-top: 5px;
    width: 90%;
    font-size: 15px;
  }
  .cardBinPrice {
    font-size: 20px;
  }
  .cardBinDescription {
    font-size: 12px;
  }
  .cardBinBody {
    width: 95%;
    height: 80px;
  }
  .conatinerCardBin {
    height: 130px;
  }
}
